body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #5cd1da;
    margin: 0;
    padding: 0;
}
header {
    background-color: #42c9a0;
    color: #700f53;
    text-align: center;
    padding: 10px 0;
}
.container {
    width: 80%;
    display: flex;
    margin: 20px auto;
    background-color: #2ab331;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
    border-radius: 5px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
}
.image-container {
    text-align: center;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #a3319a;
    color: #15178d;
    position: fixed;
    bottom: 0;
    width: 100%;
}
